# Ignore les fichiers créés par Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
obj/
[Dd]ebug*/
[Rr]elease*/
ipch/
_ReSharper*/
GoogleCodeJam.sdf
GoogleCodeJam.opensdf
.vs/
*.sdf